/* 
  colors
    white #f2f0eb;
    black #27251F
    lightgreen #00754a
    extralightgreen #d4e9e2
    darkgreen #1e3932
*/
* {
  color: #27251F;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* your code */
body{
  display : flex;
  flex-direction: column;
  background-color: #1e3932;
}
nav,#big-box{
  padding: 5px;
  margin: 0.5rem;
  width: 70%;
  align-self: center;
}

.city-list{
 
  display : flex ;
  padding: 5px;
  border : 0goem solid white;
  border-radius: 3px;
  flex-direction : column;
  

  
  
}

.city-item{
  display: inline;
  padding : 5px;
  margin : 5px;
  background-color: #00754a;
  border: 0px solid ;
  border-radius: 2px;
  background-size: cover;

  
}

nav{
  justify-content: space-around;
  display : flex;
  flex-direction : row;
  box-shadow: 5px 10px 10px black;
  
  
}

h1{
  color : azure;
  font-size: 60;
}
header{
  margin: 0.5rem;
  font-size: 30;
  border : 2px solid grey;
  border-radius: 3px;
  display: flex;
  justify-content: left;
  background-color: grey;
  
}

#logo{
  width: 10rem;
  height : 10rem;
}

#big-box{
  display: flex;
  flex-direction: column;
  border :0px red solid;
  border-radius: 3px;
  box-shadow: 5px 10px 10px black ;
}